
<h1> <%= t("page_name.index_page")%></h1>


<table class = "table" id="task_table">
  <thead>
    <tr>
      <td><%=t("task.title")%></td>
      <td><%=sort_link(@q, :created_at , t("task.created_at") ,default_order: :desc) %></td>
      <td><%=t("task.start_time")%></td>
      <td><%=t("task.end_time")%></td>
      <td><%=t("task.status")%></td>
      <td><%=t("task.content")%></td>
      <td><%=t("task.order")%></td>
      <td><%=t("task.category")%></td>

    </tr>

  </thead>

  <tbody>
  <% @tasks.each do |task| %>
  <tr>
    <td><%= task.title %></td>
    <td><%= task.created_at.strftime("%Y/%m/%d")  %></td>
    <td><%= task.start_time.strftime("%Y/%m/%d")  %></td>
    <td><%= task.end_time.strftime("%Y/%m/%d")  %></td>
    <td><%= t('task.status_type')[task.status] %></td>
    <td><%= task.content%></td>
    <td><%= t('task.order_type')[task.order] %></td>
    <td><%= task.category %></td>
    <td>
        <%= link_to t("task.edit") , edit_task_path(task) %>
        <%= link_to t('task.delete'), task_path(task), method: "delete", 
        data: { confirm: t('task.delete_confirm') } ,id:"delete-#{task.id}"%>
    </td>

  </tr>
  <% end %>
</tbody>
</table>


<%= link_to t('task.new'), new_task_path %>


