<h3> <%= @error_messgae%></h3>

<%= simple_form_for(user) do |form| %>
    <%# <div class = 'wrap'> %>
    <%= form.input :user_name %>
    <%= form.input :email %>
    <%= form.input :password %>
    <%= form.submit%>
    <%# </div> %>
<%end%>