
<h1> <%= t("page_name.index_page")%></h1>

<%= search_form_for @q do |f| %>
  <%= f.label :title_cont ,t('search_form.title')%>
  <%= f.search_field :title_cont %>
  <br>

  <%= f.label :status_eq ,t('search_form.status')%>
  <%= f.radio_button :status_eq, '' %>
  <%= f.label t('search_form.all') %>
  <%= f.radio_button :status_eq, 'pending' %>
  <%= f.label t('types.status.pending') %>
  <%= f.radio_button :status_eq, 'process' %>
  <%= f.label t('types.status.process') %>
  <%= f.radio_button :status_eq, 'finish' %>
  <%= f.label t('types.status.finish') %>
  <br>
<%= f.submit %>
<% end %>
<br>
<table class = "table" id="task_table">
  <thead>
    <tr>
      <td><%=@tasks.human_attribute_name(:title) %></td>
      <td><%=sort_link(@q, :created_at ,@tasks.human_attribute_name(:created_at) ,default_order: :desc) %></td>
      <td><%=@tasks.human_attribute_name(:start_time)%></td>
      <td><%=sort_link(@q, :end_time , @tasks.human_attribute_name(:end_time) ,default_order: :desc) %></td>
      <td><%=@tasks.human_attribute_name(:status)%></td>
      <td><%=@tasks.human_attribute_name(:content)%></td>
      <td><%=sort_link(@q, :order , @tasks.human_attribute_name(:order) ,default_order: :desc)%></td>
      <td><%=@tasks.human_attribute_name(:category)%></td>

    </tr>

  </thead>

  <tbody>
  <% @tasks.each do |task| %>
  <tr>
    <td><%= task.title %></td>
    <td><%= task.created_at.strftime("%Y/%m/%d")  %></td>
    <td><%= task.start_time.strftime("%Y/%m/%d")  %></td>
    <td><%= task.end_time.strftime("%Y/%m/%d")  %></td>
    <td><%= t("types.status.#{task.status}")%></td>
    <td><%= task.content%></td>
    <td><%= t('types.order')[task.order] %></td>
    <td><%= task.label_items() %></td>
   

  </tr>
  <% end %>
</tbody>
</table>
<%= paginate @tasks%> 
<br>




